{% extends '/layout/app.twig' %}

{% block title %}
    Binsta | Profile
{% endblock %}

{% block content %}
    {% for profileItem in profile %}
        <div class="flex flex-col items-center justify-center w-full">
            <div class="flex justify-between w-3/4 mt-10">
                <div class="flex">
                    <div class="relative inline-block">
                        <img id="profile-picture" class="h-36 w-36 object-cover rounded-full" src="/public/assets/imgs/{{ profileImg }}" alt="Profile Picture">
                    </div>
                    <div class="ms-10 flex">
                        <h1 class="text-3xl">{{ profileItem.username }}</h1>
                        <a href="/user/edit">
                            <i class="fa-solid fa-gear text-3xl ms-3 mt-1"></i>
                        </a>
                    </div>
                </div>
                <div>
                    <a href="/user/logout">
                        <i class="fa-solid fa-right-from-bracket text-3xl mt-1"></i>
                    </a>
                </div>
            </div>
            <hr class="w-3/4 my-5 border-black">
            <div class="w-3/4 flex flex-wrap">
                <div class="flex flex-wrap w-full mb-20">
                    {% for post in posts %}
                        <div class="flex flex-col bg-white w-80 rounded-xl shadow-xl me-5 mb-5 mt-10" id="profile_card">
                            <div class="w-full h-60">
                                <pre class="h-full w-full"><code class="language-{{ post.code_language }}">{{ post.code_input }}</code></pre>
                            </div>
                            <div class="flex items-center pt-5 ps-5">
                                <p><span class="font-bold">{{ post.likes }}</span> likes</p>
                            </div>
                            <div class="flex flex-col ps-5 pb-5">
                                <a href="" class="font-bold">{{ profileItem.username }}</a>
                                <p class="pt-1 w-5/6">{{ post.description }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}