{% extends '/layout/app.twig' %}

{% block title %}
    Homepage
{% endblock %}

{% block content %}
    <div class="flex w-full justify-center items-center mb-20">
        <div class="flex flex-col items-center justify-center w-3/4">
            {% for post in posts %}
                {% for user in users %}
                    {% if post.user_id == user.id %}
                        <div class="flex flex-col w-full bg-white rounded-xl shadow-xl mt-10" id="card">
                            <div class="flex items-center py-5 ps-5 ">
                                <a href="/search/profile/{{ user.id }}" class="flex items-center">
                                    <img src="/public/assets/imgs/default/profile-placeholder.png" class="h-10 w-10 object-cover rounded-full" alt="pfp">
                                    <h1 class="ps-3 font-bold">{{ user.username }}</h1>
                                </a>
                            </div>
                            <div class="w-full">
                                <pre id="post-code"><code class="language-{{ post.code_language }}">{{ post.code_input }}</code></pre>
                            </div>
                            <div class="flex items-center pt-2 ps-5">
                                <a href="/feed/like/{{ post.id }}">
                                    {% if post.liked != 'yes' %}
                                        <i class="fa-regular fa-heart text-3xl"></i>
                                        {% else %}
                                        <i class="fa-solid fa-heart text-red-500 text-3xl"></i>
                                    {% endif %}
                                </a>
                                <p class="ps-3"><span class="font-bold">{{ post.likes }}</span> likes</p>
                            </div>
                            <div class="flex ps-5 bg-white flex-wrap">
                                <a href="/search/profile/{{ user.id }}" class="font-bold">{{ user.username }}</a>
                                <p class="ps-3 w-1/2">{{ post.description }}</p>
                            </div>
                            <hr class="border-0.5 border-black my-5">
                            <form action="/feed/comment/{{ post.id }}" method="post" class="flex items-center">
                                <input type="text" name="comment" class="focus:outline-none ps-5 mb-5" placeholder="Send message...">
                            </form>
                            <div class="ps-5 pb-5">
                                <button class="text-blue-700 flex" id="show-comments">Show comments</button>
                            </div>
                            <div class="hidden flex-col ps-5 bg-white flex-wrap rounded-lg pb-5" id="comments">
                                {% for comment in comments %}
                                    {% if post.id == comment.post_id %}
                                        {% if user.id == comment.user_id %}
                                            <a href="/search/profile/{{ user.id }}" class="font-bold">{{ user.username }}</a>
                                        {% endif %}
                                        <p>{{ comment.comment }}</p>
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <div class="ps-5 pb-5">
                                <button class="text-blue-700 hidden" id="hide-comments">Hide comments</button>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </div>
    </div>
{% endblock %}